* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 160%;
}


body {
    background-color: #E5E5E5;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 40px;
    align-items: flex-start;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 10px;
}

main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
} 

.input-texto {
    margin-top: 90px;
}

.mensaje {
    position: relative;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    background-image: url("imagenes/muñeco.png");
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 300px;
    border-radius: .5rem;
}

.copiar {
    position: relative;
    margin-top: 20px;
    margin-left: 240px;
    border-radius: .5rem;
}

.botones {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.encriptar {
    background-color: #0A3871;
    color: white;
    width: 300px;
    border-radius: 24px;
    padding: 24px;
    font-size: 20px;
    margin-right: 50px;
}

.desencriptar {
    background-color:#D8DFE8;
    color: #0A3871;
    width: 300px;
    border-radius: 24px;
    padding: 24px;
    font-size: 20px;
}

.informacion {
    font-size: 5px;
}